  <ion-content class="ion-justify-content-center ion-align-items-center fondo-modal-imagen" >
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="medium" (click)="cerrarModal()">X</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-grid [fixed]="true">
      <ion-row >
        <ion-col sizeLg="12" sizeXs="12">
          <ion-card class="login-card">
            <ion-card-header>
              <img src="./assets/ide-logo.png" alt="Imagen de inicio de sesión" class="image" >
              <ion-card-title class="login-title">Login</ion-card-title>
            </ion-card-header>
            <ion-card-content class="login-content">
              <!-- Aquí puedes agregar tu botón de inicio de sesión con Google u otros elementos -->
              <div id="google-btn"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
