:host,ion-content {
  display: block; /* Asegura que el componente modal tenga un formato de bloque */
  margin: 0;
  padding: 0;
}
.login-card {
  max-width: 400px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar el formulario en la pantalla */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.login-title {
  font-size: 1.5rem; /* Tamaño de fuente del título */
  color: #333; /* Color del texto del título */
  text-align: center; /* Alinear el título al centro */
  font-weight: bold;
}
.image{
  max-width: 250px;
  margin: 0 auto;
  padding: 20px;

}
.login-content {
  padding: 20px; /* Espaciado interno del contenido */
}
ion-header{
  box-shadow: none; /* Esto elimina la sombra */
}


