*{
  font-family: Barlow,-apple-system,BlinkMacSystemFont,sans-serif;

}
//menu bar
.header{
  *{
    margin: 0;
    padding: 0;
  }
  button {
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  width: 100%;
  background-color: #070d1b;
  padding:20px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color:white;

  .header__ul {
      list-style-type: none; /* Elimina los puntos de la lista */
  }

  .header__li a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px; /* Elimina el subrayado de los enlaces */
    padding: 10px;
  }
  nav a:hover {
    background-color: white;
    color: #070d1b;
  }
  &__button{
      display: none;
      cursor: pointer;

      @media screen and (max-width:860px){
          display: flex;
      }
  }
  &__svg{
      width:2em;
      height:2em;
      fill:white;
  }
  &__nav{
      @media screen and (max-width:860px){
          width:100%;
          height:0vh;

          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          overflow: hidden;
          pointer-events: none;
          transition: all .5s ease;

          &--activo{
              height:30vh;
              pointer-events: auto;
          }
      }
  }
  &__ul{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;

      @media screen and (max-width:860px){
          flex-direction:column;
      }
  }
  &__li{
      margin: 0 .5em;
      @media screen and (max-width:860px){
          margin: .5em 0;
      }
  }
}

//_-

.container {
  max-width: 1200px;
  margin: 0 auto;
}

button {
  background-color: white;
  color: #070d1b;
  // border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
button:hover {
  background-color: #168B64;
  color: white;
}

.ion-color-seccion{
  --background: #070d1b;
}
.ion-card-torre{
background-color: #21293C;
border-radius: 35px;
height: 100%;
padding: 16px;
}
.title-card-torre{
  padding-top: 15px ;
  font-size: 1.5em;
  font-weight: 600;
}
.font-card-torres{
color: white;
}
.img-card-torres{
  max-width: 250px;
  height: 80px;
  padding-top: 15px;
}
.ion-card-no-border {
  border-bottom: none; /* Esto elimina la línea inferior */
  box-shadow: none; /* Esto elimina la sombra */
}
ion-card-header{
padding-bottom: 10% ;
}
.color-t{
  background-color: rgba(0, 0, 0, 0);
}
.title-sub{
font-weight: 700;
font-size: 2.5em;
color: white;
}
.parrafo-size{
  font-size: 19px;
}
//--
.centrar-text{
text-align: center;
}
.ion-card-imagePrincipal{
  display: flex; /* Utiliza flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.title-sec2{
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  font-size: 34px;
  text-align: center;
  color: white;
}

.foot{
  color: white;
  background-color: #070D1B;
  padding-top: 15px ;
}
