/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.custom-modal {
  /* Estilos personalizados para el modal */
  /* Por ejemplo: */
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
}

.customAlert {
  --backdrop-opacity: 0.6;
  font-size: 14px;
  --min-width: 40vw;

  .alert-wrapper.sc-ion-alert-md, .alert-wrapper.sc-ion-alert-ios {
      max-height: 80vh;
      max-width: 600px;
      margin: 1rem;
      border-radius: 10px;
  }

  .alert-title.sc-ion-alert-md, .alert-title.sc-ion-alert-ios {
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
  }

  .alert-message.sc-ion-alert-md, .alert-message.sc-ion-alert-ios {
      text-align: center;
      max-height: 60vh;
      overflow-y: auto;
  }

  .alert-button-group.sc-ion-alert-md, .alert-button-group.sc-ion-alert-ios {
      display: flex;
      justify-content: center;
  }

  .btn-ok, .btn-cancel {
      border-radius: 5px;
      font-weight: 600;
  }

  .btn-ok {
      background-color: #00a2ff;
      color: #fff;
  }

  .btn-cancel {
      color: #00a2ff;
  }

  .btn-cancel:hover, .btn-ok:hover {
      opacity: 0.8;
  }
}
.toast-align-right .toast-message {
  text-align: right;
}
