*{
  margin: 0;
  font-family: raleway,-apple-system,BlinkMacSystemFont,sans-serif;

  padding: 0;
}
ion-chip{
    white-space: nowrap;       /* Evita que el texto se divida en varias líneas */
    overflow: hidden;          /* Oculta el contenido que sobresale del contenedor */
    text-overflow: ellipsis;   /* Muestra puntos suspensivos (...) cuando el texto es demasiado largo */
}
.titulo{
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.header__button{
  background-color: #21293C;
}
.header{
  width: 100%;
  background-color: #070d1b;
  padding:20px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color:white;

  .header__ul {
      list-style-type: none; /* Elimina los puntos de la lista */
  }

  .header__li a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px; /* Elimina el subrayado de los enlaces */
    padding: 6px;
  }
  nav a:hover {
    background-color: white;
    color: #070d1b;
  }
  &__button{
      display: none;
      cursor: pointer;

      @media screen and (max-width:860px){
          display: flex;
      }
  }
  &__svg{
      width:2em;
      height:2em;
      fill:white;
  }
  &__nav{
      @media screen and (max-width:860px){
          width:100%;
          height:0vh;

          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          overflow: hidden;
          pointer-events: none;
          transition: all .5s ease;

          &--activo{
              height:30vh;
              pointer-events: auto;
          }
      }
  }
  &__ul{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;

      @media screen and (max-width:860px){
          flex-direction:column;
      }
  }
  &__li{
      margin: 0 .5em;
      @media screen and (max-width:860px){
          margin: .5em 0;
      }
  }
}

.h1{
  font-style: normal;
  font-size: 25px !important;
}

