<header class="header">
  <h1>CRESTA</h1>
  <button
      (click)=" setActive() "
      class="header__button">
      <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
  </button>
  <nav
      class="header__nav"
      [ngClass]="{ 'header__nav--activo' : active }">
      <ul class="header__ul">
          <li class="header__li" ><a href="#">Solutions</a></li>
          <li class="header__li"><a href="#">Products</a></li>
          <li class="header__li"><a href="#">Customers</a></li>
          <li class="header__li"><a href="#">Resources</a></li>
          <li class="header__li">
            <ion-buttons slot="end">
            <ion-chip id="menuProfile" color="success">
              <ion-avatar>
                <img alt="Perfil" [src]="userImg" />
              </ion-avatar>
              <ion-label>{{ user }}</ion-label>
            </ion-chip>
            <!-- menu del perfil -->
            <ion-popover trigger="menuProfile" [dismissOnSelect]="true" size="auto">
              <ng-template>
                <ion-list>
                  <ion-item (click)="logout()" [button]="true" [detail]="false">
                    <ion-icon name="log-out-outline" slot="start"></ion-icon>
                    Cerrar sesión
                  </ion-item>
                </ion-list>
              </ng-template>
            </ion-popover>
          </ion-buttons>
        </li>
      </ul>
  </nav>
</header>
<ion-content class="ion-padding">
  <ion-router-outlet></ion-router-outlet>
</ion-content>

