  <footer id="footer">
    <hr style="background-color: white; height: 1px; border: none;">
    <div class="cont">
      <ion-row class="ion-justify-content-between">
        <ion-col sizeLg="3" sizeMd="6" sizeSm="6" sizeXs="12">
          <span>CEDE LIMA</span>
          <div>
            <div class="ion-text-left">
              <div>
                <h2>Dirección</h2>
                <p>Av. Javier Prado Este 596, Of. 203 - San Isidro</p>
              </div>
              <div>
                <h2>Teléfono</h2>
                <p>01 3804957 - 964484382</p>
              </div>
              <div>
                <h2>Correo electrónico</h2>
                <p>info&#64;ide-solution.com</p>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col sizeLg="3" sizeMd="6" sizeSm="6" sizeXs="12">
          <span>CEDE CHICLAYO</span>
          <div >
            <div class="ion-text-left">
              <div>
                <h2>Dirección</h2>
                <p>Calle Comandante José Torres Paz 799 - Oficina 301 - Chiclayo</p>
              </div>
              <div>
                <h2>Teléfono</h2>
                <p>074 603141 - 964484382</p>
              </div>
              <div>
                <h2>Correo electrónico</h2>
                <p>info&#64;ide-solution.com</p>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col sizeLg="3" sizeMd="6" sizeSm="6" sizeXs="6" class="contImgCol">
          <span>CERTIFICADOS EN :</span>
          <div class="contImagen">
            <img src="assets/certificacioniso.png" alt="logo" class="imgcert" >
          </div>
        </ion-col>
        <ion-col sizeLg="3" sizeMd="6" sizeSm="6" sizeXs="6" class="contImgCol">
          <span>ASOCIADOS A :</span>
          <div class="contImagen">
            <img src="assets/logo-camaracpl.png" alt="logo" class="imgCamacpl" >
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="">
      <p class="text">© 2024 Ide Solution</p>
      <p class="text">Todos los derechos reservados</p>
    </div>
  </footer>
